<div class="external">
<%= form_for(@tbl_layer) do |f| %>
  <% if @tbl_layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tbl_layer.errors.count, "error") %> prohibited this tbl_layer from being saved:</h2>

      <ul>
      <% @tbl_layer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Class %><br>
    <%= f.text_field :Class %>
  </div>
  <div class="field">
    <%= f.label :Type %><br>
    <%= f.select :Type, [['Text','Text'],['Image','Image'],['LinkImage','LinkImage'],['Video/Audio','Video/Audio']] %>
  </div>
      <script type="text/javascript">

          $('#tbl_layer_Type').on('change', function() {

              var id=$(this).val()
              $("#hidfieldcat").val(id);
               if ($(this).val() == "Image")
               {
                   $("#image").css("display","block");
                   $("#linklayerimage").css("display","none");
                   $("#linklayerimage1").css("display","none");
                   $("#videolayer").css("display","none");


               }
              else if($(this).val() == "LinkImage")
               {
                   $("#linklayerimage").css("display","block");
                   $("#linklayerimage1").css("display","block");
                   $("#image").css("display","none");
                   $("#videolayer").css("display","none");
               }
               else if ($(this).val() == "Video/Audio")
               {
                   $("#videolayer").css("display","block");
                   $("#image").css("display","none");
                   $("#linklayerimage").css("display","none");
                   $("#linklayerimage1").css("display","none");
               }
               else
               {
                   $("#image").css("display","none");
                   $("#linklayerimage").css("display","none");
                   $("#linklayerimage1").css("display","none");
                   $("#videolayer").css("display","none");

               }


          });

      </script>

      <input type="hidden" id="hidfieldcat" name="layertype_hid"  />


      <div class="field" id="image" style="display: none;">
        <%= f.label :Image %><br>
        <%= f.file_field :avatar %>
      </div>
      <div class="field" id="linklayerimage" style="display: none;">
        <%= f.label :Path %><br>
        <%= f.text_field :Path %>
        </div>
      <div class="field" id="linklayerimage1" style="display: none;">
        <%= f.label :Image %><br>
        <%= f.file_field :linkimage %>
      </div>

      <div class="field" id="videolayer" style="display: none;">
        <%= f.label :Video %><br>
        <%= f.file_field :video %>
      </div>

      <div class="actions">
    <%= f.submit "Save" , :class => "btn_submit" %>
  </div>
<% end %>
</div>