<div class="external">
<%= form_for(@tbl_layer) do |f| %>
  <% if @tbl_layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tbl_layer.errors.count, "error") %> prohibited this tbl_layer from being saved:</h2>

      <ul>
      <% @tbl_layer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Class %><br>
    <%= f.text_field :Class %>
  </div>
  <div class="field">
    <%= f.label :Type %><br>
    <%= f.select :Type, [['Text','Text'],['Image','Image']] %>
  </div>
      <script type="text/javascript">

          $('#tbl_layer_Type').on('change', function() {

              var id=$(this).val()
              $("#hidfieldcat").val(id);
               if ($(this).val() == "Image")
               {
              $("#image").css("display","block");

               }
              else
               {
                   $("#image").css("display","none");

               }
          });

      </script>

      <input type="hidden" id="hidfieldcat" name="layertype_hid"  />


      <div class="field" id="image" style="display: none;">
        <%= f.label :Image %><br>
        <%= f.file_field :avatar %>
      </div>

  <div class="actions">
    <%= f.submit "Save" , :class => "btn_submit" %>
  </div>
<% end %>
</div>