<div class="external">
<%= form_for(@transition) do |f| %>
  <% if @transition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transition.errors.count, "error") %> prohibited this transition from being saved:</h2>

      <ul>
      <% @transition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :TransitionName %><br>
    <%= f.text_field :TransitionName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>