<div class="external">
  <%= form_for(@tbl_banner) do |f| %>
      <% if @tbl_banner.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@tbl_banner.errors.count, "error") %> prohibited this tbl_banner from being saved:</h2>

            <ul>
              <% @tbl_banner.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="field">
        <%= f.label :PicSettings %><br>
        <%= collection_select(:TblPicSetting, :PicSettingID, TblPicSetting.all, :PicSettingID, :Title , {:selected => TblPicSetting.where(Title: @placeTitle).map(&:PicSettingID)} )%>
      </div>
      <script type="text/javascript">

          $('#TblPicSetting_PicSettingID').on('change', function() {
              var id=$(this).val()
              $("#hidfield").val(id);

          });

      </script>
      <input type="hidden" id="hidfield" name="picsetting_hid"  />
      <div class="field">
        <%= f.label :Title %><br>
        <%= f.text_field :Title %>
      </div>
      <div class="field">
        <%= f.label :PlaceHolder %><br>
        <%= collection_select(:TblBanner, :BannerID, TblBanner.find_by_sql('SELECT "PlaceHolder" from tbl_banners where "BannerID"='+"#{params[:id]};"), :BannerID, :PlaceHolder , {:selected => TblBanner.where(PlaceHolder: @placeTitle).map(&:BannerID)} )%>
      </div>
      <script type="text/javascript">

          $('#TblBanner_BannerID').on('change', function() {
              var id=$(this).val()
              $("#hidfield").val(id);

          });

      </script>
      <input type="hidden" id="hidfield" name="banner_hid"  />
      <div class="field">
        <%= f.label :Description %><br>
        <%= f.text_field :Description %>
      </div>


      <div class="field">
        <%= f.label :Type %><br>
        <%= collection_select(:TblBanner, :BannerID, TblBanner.all, :BannerID, :Type , {:selected => TblBanner.where(Title: @placeTitle).map(&:BannerID)} )%>
      </div>
      <script type="text/javascript">

          $('#TblBanner_BannerID').on('change', function() {
              var id=$(this).val()
              $("#hidfield1").val(id);

          });

      </script>
      <input type="hidden" id="hidfield1" name="type_hid"  />
      <div class="actions">

        <%= f.submit "Save", :class => "btn_submit"%>
      </div>


      <h1 style="position: relative;
              bottom: -48px;">Add Slides to the Banner</h1><br>
      <div style="position: relative;
              bottom: -36px;">
        <a href="/tbl_slides/new/<%= params[:id] %>" style="text-decoration: none;" class="btn_submit">Add New Slide</a>

      </div>
      <table style="position: relative;
              bottom: -54px;">
        <thead>
        <tr>
          <th>Slideid</th>
          <th>Slideclass</th>
          <th>Slidedelay</th>
          <th>Transition</th>
          <th>Backgroundimage</th>
          <th>Slidetransition</th>
          <th>Bannerid</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @tbl_slides=TblSlide.find_by_sql('SELECT * from tbl_slides where "BannerID"='+"#{params[:id]};")
           @tbl_slides.each do |tbl_slide| %>
            <tr>
              <td><%= tbl_slide.SlideID %></td>
              <td><%= tbl_slide.SlideClass %></td>
              <td><%= tbl_slide.SlideDelay %></td>
              <td><%= tbl_slide.Transition %></td>
              <td>  <%= image_tag tbl_slide.avatar.url(:small) %></td>
              <td><%= tbl_slide.SlideTransition %></td>
              <td><%= tbl_slide.BannerID %></td>
              <td><%= link_to 'View', tbl_slide %></td>
              <td><a href="/tbl_slides/<%= tbl_slide.SlideID %>/edit/<%= tbl_slide.SlideID %>">Edit</a></td>
              <td><%= link_to 'Delete', tbl_slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

<% end %>
</div>
